pipeline/PL_variable.json
{
	"name": "PL_variable",
	"properties": {
		"activities": [
			{
				"name": "Get metafiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_ADLS_csv",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "store metafiles",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get metafiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_files",
					"value": {
						"value": "@activity('Get metafiles').output.childItems",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"Var_files": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-03T05:49:25Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}